.ultratable {
  * {
    box-sizing: border-box;
    padding: 0;
  }
  .ultra-header {
    display: table-header-group;
  }
  .ultra-body {
    display: table;
    border-collapse: separate;
    position: relative;
    overflow: hidden;
    .ultra-body-content {
      display: table-row-group;
      &.leaving {
        position: absolute;
      }
      .ultra-row {
        display: table-row;
      }
    }
  }
  .ultra-cell {
    display: table-cell;
    vertical-align: middle;
    .cell-banned {
      position: absolute;
    }
  }
  .pagination {
    padding: 0;
    ul.numbers {
      li {
        list-style: none;
        float: left;
        margin: 5px 5px;
        padding: 5px 10px;
      }
    }
  }
}
